<h1>Your Taco Is Ready!</h1>
<section>
<div class="row">
<div class="col-sm-9">
<h2><%= @taco.name %></h2>
<p>Price: <%= number_to_currency@taco.price %></p>
<p>Description: <%= @taco.description %></p>
</div>
</section>